ClassroomAutomation/.local/
ClassroomAutomation/.objects/
ClassroomAutomation/.screenshots/
ClassroomAutomation/.settings/
ClassroomAutomation/Exceptions_Screenshots/
ClassroomAutomation/.project/PackageBindingsMetadata.json
ClassroomAutomation/.tmh/config.json
